{% extends 'base.html' %}
{% block title %}Редактировать товар{% endblock %}

{% block content %}
<h4>Редактировать товар</h4>
<form method="post">
	{% csrf_token %}
	<div class="input-field">{{ form.name }}<label class="active" for="{{ form.name.id_for_label }}">Название</label></div>
	<div class="input-field">{{ form.price }}<label class="active" for="{{ form.price.id_for_label }}">Цена</label></div>
	<div class="input-field">{{ form.unit }}<label class="active" for="{{ form.unit.id_for_label }}">Единица измерения</label></div>
	<button class="btn blue">Сохранить</button>
</form>
{% endblock %}
