{% extends 'base.html' %} {% block title %}Добавить контрагента{% endblock %} {% block content %}
<h4>Добавить контрагента</h4>
<form method="post">
  {% csrf_token %}
  <div class="input-field">
    {{ form.name }}
    <label for="{{ form.name.id_for_label }}">Название</label>
  </div>
  <div class="input-field">
    {{ form.inn }}
    <label for="{{ form.inn.id_for_label }}">ИНН</label>
  </div>
  <div class="input-field">
    {{ form.kpp }}
    <label for="{{ form.kpp.id_for_label }}">КПП</label>
  </div>
  <div class="input-field select-field">
    {{ form.account }}
    <label for="{{ form.account.id_for_label }}">Счёт</label>
  </div>
  <button class="btn green">Добавить</button>
</form>
{% endblock %}
