{% extends 'base.html' %}
{% block title %}Редактировать сотрудника{% endblock %}

{% block content %}
<h4>Редактировать сотрудника</h4>
<form method="post">
	{% csrf_token %}
	<div class="input-field">{{ form.last_name }}<label class="active" for="{{ form.last_name.id_for_label }}">Фамилия</label></div>
	<div class="input-field">{{ form.first_name }}<label class="active" for="{{ form.first_name.id_for_label }}">Имя</label></div>
	<div class="input-field">{{ form.middle_name }}<label class="active" for="{{ form.middle_name.id_for_label }}">Отчество</label></div>
	<div class="input-field">{{ form.position }}<label class="active" for="{{ form.position.id_for_label }}">Должность</label></div>
	<div class="input-field">{{ form.passport_series }}<label class="active" for="{{ form.passport_series.id_for_label }}">Серия паспорта</label></div>
	<div class="input-field">{{ form.passport_number }}<label class="active" for="{{ form.passport_number.id_for_label }}">Номер паспорта</label></div>
	<div class="input-field">{{ form.passport_issued_by }}<label class="active" for="{{ form.passport_issued_by.id_for_label }}">Кем выдан</label></div>
	<div class="input-field">{{ form.passport_issue_date }}<label class="active" for="{{ form.passport_issue_date.id_for_label }}">Дата выдачи</label></div>
	<button class="btn blue">Сохранить</button>
</form>
{% endblock %}
