<!-- accounts/templates/accounts/list.html -->
{% extends 'base.html' %}
{% block title %}Банковские счета{% endblock %}

{% block content %}
<h4>Банковские счета</h4>
<div class="right-align" style="margin-bottom: 20px;">
	<a href="{% url 'accounts:create' %}" class="btn blue">
		<i class="material-icons left">add</i>Добавить
	</a>
</div>

<table class="highlight">
	<thead>
		<tr><th>ID</th><th>Номер счёта</th><th>Банк</th><th>БИК</th><th>Действия</th></tr>
	</thead>
	<tbody>
		{% for account in accounts %}
		<tr>
			<td>{{ account.id }}</td>
			<td>{{ account.account }}</td>
			<td>{{ account.bank_name }}</td>
			<td>{{ account.bank_identification_number }}</td>
			<td>
				<a href="{% url 'accounts:edit' account.pk %}" class="btn-small orange">
					<i class="material-icons">edit</i>
				</a>
				<a href="{% url 'accounts:delete' account.pk %}" class="btn-small red" onclick="return confirm('Удалить?');">
					<i class="material-icons">delete</i>
				</a>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="5" class="center-align">Нет данных</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
